.body {
  height: 90vh;
  background-color: #6E859F;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.div-main-dasboard {
  height: 400px;
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.div-main-dasboard button a {
  background-color: #14222E70;
  color: bisque;
  height: 50%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px rgb(168, 164, 164);
  border-radius: 10px;
  cursor: pointer;
}

.div-main-dasboard a {
  background-color: #14222E70;
  color: bisque;
  height: 50%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px rgb(168, 164, 164);
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
}

.div-main-dasboard a:focus {
  background-color: rgba(255, 228, 196, 0.3);
  color: #14222E;
  font-size: 15px;
  font-weight: 900;
}

.div-main-dasboard a:hover {
  background-color: rgba(255, 228, 196, 0.3);
  color: #14222E;
  font-size: 15px;
  font-weight: 900;
}

.div-main-dasboard div {
  height: 100%;
  width: 50%;
}

.box-one {
  float: left;
}

.box-two {
  float: right;
}
