<div class="body">
  <div class="left-main">
    <div class="div-main-dasboard">
      <div class="box-one">
        <div class="div-a">
          <a routerLink="/viewGetRuta" class="box-read">Leer Datos</a>
        </div>
        <div class="div-a">
          <a class="box-update">Actualizar Contacto</a>
        </div>
      </div>
      <div class="box-two">
        <div class="div-a">
          <a routerLink="/viewPostRuta" class="box-create">Crear Contacto</a>
        </div>
        <div class="div-a">
          <a class="box-delete">Eliminar Contacto</a>
        </div>
      </div>
    </div>
  </div>

  <div class="right-main">
    <div class="div-text-descripcion">
      <h3 class="title-description">Desarrollador</h3>
      <h5 class="subtitle-description">Diego Amaya</h5>
      <h3 class="title-description">Lenjuages</h3>
      <h5 class="subtitle-description">Java / Spring Boot</h5>
      <h5 class="subtitle-description">Angular</h5>
      <h5 class="subtitle-description">Python</h5>
      <h5 class="subtitle-description">HTML</h5>
      <h5 class="subtitle-description">CSS</h5>
      <h5 class="subtitle-description">Javascript - Typescript</h5>
      <h3 class="title-description">Edad</h3>
      <h4 class="subtitle-description-edad">26</h4>
    </div>
  </div>
</div>
