.body {
  height: 90vh;
  background-color: #6E859F;
  width: 100vw;
  display: flex;
}

:root {
  --varColorLetraNormal: #e2e2e2;
  --varColorLetraHover: #14222E;
}

.left-main {
  height: 100%;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
}

.div-main-dasboard {
  height: 70%;
  width: 50%;
  display: block;
}

.div-main-dasboard .box-one,
.box-two {
  display: block;
  height: 100%;
  width: 50%;
}

.div-a {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border-radius: 10px;
  color: var(--varColorLetraNormal);
  cursor: pointer;
  text-decoration: none;
}

.div-a:hover {
  border: #14222E solid 3px;
  margin: 5px;
  font-size: 15px;
  font-weight: 900;
}

.div-main-dasboard div .div-a a {
  color: var(--varColorLetraNormal);
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  background-color: #14222E50;
  height: 90%;
  width: 95%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 2px #14222E;
  border-radius: 10px;
}

.box-one {
  float: left;
}

.box-two {
  float: right;
}

.right-main {
  width: 40%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.right-main .div-text-descripcion {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding: 20px 20px 20px 70px;
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 500;
}

.subtitle-description-edad {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
}