<div class="body">
  <div class="left-main">
    <div class="div-main-dasboard">
      <div class="box-one">
        <div class="div-a">
          <a routerLink="/viewGetRuta" class="box-read">Leer Datos</a>
        </div>
        <div class="div-a">
          <a class="box-update">Actualizar Contacto</a>
        </div>
      </div>
      <div class="box-two">
        <div class="div-a">
          <a routerLink="/viewPostRuta" class="box-create">Crear Contacto</a>
        </div>
        <div class="div-a">
          <a class="box-delete">Eliminar Contacto</a>
        </div>
      </div>
    </div>
  </div>

  <div class="right-main">
    <div class="div-text-descripcion">
      <p class="text-descripcion">Lorem ipsum dolor,
        sit amet consectetur adipisicing elit. Quis,
        distinctio non. Laudantium nulla dolorem magni
        sapiente officiis? Rem ducimus repudiandae a neque
        nobis facere, accusamus explicabo suscipit at. Inventore, culpa.</p>
    </div>
  </div>
</div>
