<body>

  <nav class="nav-main">
    <div class="name-home">
      <h1>{{navName}}</h1>
    </div>
    <div class="nav-main-div">
      <button (click)="changeNameToHome()">Home</button>
      <button (click)="changeNameIngresarContacto()">Ingresar Contacto</button>
      <button>Revisar contacto</button>
      <button>Actualizar contacto</button>
      <button>Buscar Contacto</button>
      <button>Eliminar Contacto</button>

    </div>
  </nav>

  <div class="div-body">
    <div class="div-main-dasboard">

      <div class="box-one">
        <button class="box-read">Leer Datos</button>
        <button class="box-update">Actualizar Contacto</button>
      </div>

      <div class="box-two">
        <button class="box-create">Crear Contacto</button>
        <button class="box-delete">Eliminar Contacto</button>
      </div>

    </div>
  </div>
</body>
