<div class="body">
  <div class="left-main">
    <div class="div-title">
      <p class="title-form">Datos contacto</p>
    </div>
    <form (ngSubmit)="onSubmit()" class="form-contacto">
      <!-- Comienzo de inputs -->

      <div class="div-left">
        <div class="div-input-contacto">
          <input
            placeholder="Primer Nombre"
            class="input-contacto"
            type="text"
            title="primerNombre"
            required
            name="primerNombre"
            [(ngModel)]="contactoRequest.primerNombre"
          />
        </div>
        <div class="div-input-contacto">
          <input
            placeholder="Segundo Nombre"
            class="input-contacto"
            type="text"
            title="segundoNombre"
            name="segundoNombre"
            [(ngModel)]="contactoRequest.segundoNombre"
          />
        </div>
        <div class="div-input-contacto">
          <input
            placeholder="Primer Apellido"
            class="input-contacto"
            type="text"
            title="primerApellido"
            required
            name="primerApellido"
            [(ngModel)]="contactoRequest.primerApellido"
          />
        </div>
        <div class="div-input-contacto">
          <input
            placeholder="Segundo Apellido"
            class="input-contacto"
            type="text"
            title="segundoApellido"
            required="true"
            name="segundoApellido"
            [(ngModel)]="contactoRequest.segundoApellido"
          />
        </div>
        <div class="div-input-contacto">
          <input
            placeholder="Grupo"
            class="input-contacto"
            type="text"
            title="grupo"
            required
            name="gurpo"
            [(ngModel)]="contactoRequest.grupo"
          />
        </div>
      </div>
      <div class="div-right">
        <div class="div-input-contacto">
          <input
            placeholder="Direccion"
            class="input-contacto"
            type="text"
            title="Direccion"
            required
            name="direccion"
            [(ngModel)]="contactoRequest.direccion"
          />
        </div>
        <div class="div-input-contacto">
          <input
            placeholder="Correo"
            class="input-contacto"
            type="text"
            title="email"
            required
            name="email"
            [(ngModel)]="contactoRequest.email"
          />
        </div>
        <div class="div-input-contacto">
          <input
            placeholder="Indicativo"
            class="input-contacto"
            type="text"
            title="Indicativo"
            required
            name="indicativo"
            [(ngModel)]="contactoRequest.indicativo"
          />
        </div>
        <div class="div-input-contacto">
          <input
            placeholder="Número"
            class="input-contacto"
            type="text"
            title="Numero"
            required
            name="numero"
            [(ngModel)]="contactoRequest.numero"
          />
        </div>
        <div class="div-input-button">
          <button type="button" class="button-enviar" (click)="onSubmit()">Enviar</button>
        </div>
      </div>
    </form>
  </div>

  <div class="right-main">
    <div class="div-title">
      <p class="title-form">Información</p>
    </div>
    <div class="div-infomacion-cliente">
      <div class="div-info-cliente">
        <h4 class="label-info-cliente">{{response.nombre}}</h4>
      </div>
      <div class="div-info-cliente">
        <h4 class="label-info-cliente">{{response.apellido}}</h4>
      </div>
      <div class="div-info-cliente">
        <h4 class="label-info-cliente">{{response.grupo}}</h4>
      </div>
      <div class="div-info-cliente">
        <h4 class="label-info-cliente">{{response.direccion}}</h4>
      </div>
      <div class="div-info-cliente">
        <h4 class="label-info-cliente">{{response.email}}</h4>
      </div>
      <div class="div-info-cliente">
        <h4 class="label-info-cliente">{{response.numero}}</h4>
      </div>
    </div>
  </div>
</div>
