<p>Insertar nuevo Contacto</p>

<label>Ingrese primer nombre del Contacto</label>
<input type="text">
<label>Ingrese segundo nombre del Contacto</label>
<input type="text">
<label>Ingrese primer apellido del Contacto</label>
<input type="text">
<label>Ingrese segundo apellido del Contacto</label>
<input type="text">
<label>Ingrese grupo del Contacto</label>
<input type="text">
<label>Ingrese correo del Contacto</label>
<input type="text">
<label>Ingrese indicativo del Contacto</label> <!-- Mas adelante se debe agregar un desplegable con todos los indicativos posibles -->
<input type="text">
<label>Ingrese numero del Contacto</label>
<input type="text">