<nav class="nav-main">
  <div class="name-home">
    <h2>{{ navName }}</h2>
  </div>
  <div class="nav-main-div">
    <button type="button" (click)="changeNameToHome()" routerLink="/">
      Home
    </button>
    <button type="button" (click)="changeNameIngresarContacto()" routerLink="viewPostRuta">
      Ingresar Contacto
    </button>
    <button
      type="button"
      (click)="changeNameRevisarContacto()"
      routerLink="/viewGetRuta"
      routerLinkActive="active"
    >
      Revisar contacto
    </button>
    <button type="button" (click)="changeNameActualizarContacto()">
      Actualizar contacto
    </button>
    <button type="button" (click)="changeNameBuscarContacto()">
      Buscar Contacto
    </button>
    <button type="button" (click)="changeNameEliminarContacto()">
      Eliminar Contacto
    </button>
  </div>
</nav>
<router-outlet></router-outlet>
